{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="" value="Upload Image">
            </form>

            <p><a href="{% url 'index_page' %}">Return to home</a></p>

        </div>
    </body>
</html>
